
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<h1 class="display-6 blan">Colaboradores</h1>
<hr class="blan">
<div class="row">
    <div class="col-6  ">
        <ul class="blan">
            <li *ngFor="let colaborador of colaboradores">
                {{colaborador}}
            </li>
        </ul>
    </div>
    <div class="col-6 border" *ngIf="borrados else noBorrado">
        <ul class="blan">
            <li>
                {{borrados}}
            </li>
        </ul>
    </div>
    <ng-template #noBorrado>
        <h3>No ha borrado nada</h3>
    </ng-template>
    
</div>
<div class="mt-5">
    <button class="btn btn-sm btn-outline-light" (click)="borrar();">
        Borrar
    </button>
</div>